%h1 <%= plural_human_name %>

- if @<%= plural_name %>.size > 0 
  %table
    %tr
<% attributes.each_pair do |key, value| -%>
      %th <%= Extlib::Inflection.humanize(key) %>
<% end -%>
      %th
    - for <%= name %> in @<%= plural_name %>
      %tr{:id => "<%= name %>_#{<%= name %>.id}", :class => cycle('odd', 'even')}
<% attributes.each_pair do |key, value| -%>
<% if attributes.keys.first == key -%>
        %td.<%= key %>
          %strong= link <%= name %>.<%= key %>, :to => url(:<%= name %>, <%= name %>)
<% else -%>
        %td.<%= key %>=h <%= name %>.<%= key %>
<% end -%>
<% end -%>
        %td
          = link 'Edit', :to => url(:edit_<%= name %>, <%= name %>), :class => 'edit action'
          = link 'Delete', :to => url(:<%= name %>, <%= name %>), :method => :delete, :confirm => "Are you sure?", :class => 'delete action'
  %p= link_to 'New', url(:new_<%= name %>), :class => 'new action'
- else
  %p
    No <%= human_name.downcase %> yet, 
    = link_to 'create one?', url(:new_<%= name %>)
