%h1
  = link_to <%= parent_instance_variable_name %>.class.identify.pluralize, url(Extlib::Inflection.underscore(<%= parent_instance_variable_name %>.class.to_s).pluralize.intern)
  \/
  = link_to <%= parent_instance_variable_name %>.identify, resource(<%= parent_instance_variable_name %>)
  \/
  = link_to "<%= plural_human_name %>", resource(<%= parent_instance_variable_name %>, :<%= plural_name %>)
  - unless @<%= name %>.new?
    \/
    = link @<%= name %>.identify, :to => resource(<%= parent_instance_variable_name %>, @<%= name %>)
  \/
  = @<%= name %>.new? ? "Create" : "Edit"

= render_form :<%= name %>